.wrapper {
  height: 100vh;
  padding: 2rem;
  margin: 0 auto;
}

/* counter */

.counter {
  margin-bottom: 5rem;
}

/* countainer-tasks */

.countainer-tasks {
  display: flex;
  align-items: center;
}

.btnPlus {
  padding: 10px 20px;
  margin-right: 1rem;
}

.details-tekst {
  margin-right: 2rem;
}

/* LIST */

.details-list {
  margin-top: 4rem;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ul-list {
  display: flex;
  flex-direction: column;
  margin: 15px;
  padding-left: 20px;
}

li {
  margin: 0 0 0 3rem;
}

img {
  margin: 1rem;
}

p {
  margin: 0 4rem;
}

.time {
  width: 40px;
}

.counter__time {
  margin: 2rem 0;
  
}
